{{#partial "content"}}

    <div class="container row">
        <div class="col-md-4">
            {{#if squad}}
                    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                        <div class="card-header">
                            <p>Squad's Name: {{squad.squadName}}</p>
                        </div>
                        <div class="card-body bg-dark mb-3">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-dark">Squad's Purpose: {{squad.squadPurpose}}</li>
                                <li class="list-group-item bg-dark">Squad's Number: {{squad.squadNumber}}</li>
                                <li class="list-group-item bg-dark">Squad's Group: {{squad.squadGroup}}</li>
                            </ul>
                        </div>

                    </div>
                {{/if}}
                <a href="/deletesquad/{{squad.id}}" class="btn btn-danger">Delete</a>
        </div>
        <div class="col-md-8">
            {{#if heroes}}
                {{#each heroes}}
                    <p>{{heroName}}</p>
                    <a href="/heroes/{{id}}" class="btn btn-info">Details</a>
                {{/each}}
            {{/if}}
        </div>
    </div>


{{/partial}}

{{> layout.hbs}}